@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

button{
    transition: 0.3s;
    border: none;
}
button:hover{
    cursor: pointer;
    opacity: 0.9;
}


/* Navigation Bar Section */
nav{
    background-color: black;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    border-radius: 5rem;
    color: white;
    transition: 0.3s;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #333333;
}

.left-nav,
.right-nav{
    width: 40%;
}

nav ul li button {
    padding: 10px 0.75rem ;
    border-radius: 5rem;
    font-weight: bold;
    
}

.right-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon {
    display: none;
}

.uber{
    cursor:default;
}

.uber:hover{
    background-color: #000;
}



/* Main Img Section */
.main-img{
    background: url('./assets/main-bg-img.jpeg');
    background-size: cover;
    height: 40rem;
    width: 100%;

}

.main-img-contant{

    background-color: #333333;
    width: 80vh;
    height: 100%;

}

@media (max-width:1024px){
    .option{
        display: none;
    }

    .icon{
        display: block;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    
}
 
@media (max-width:500px){
    .left-nav{
        width: 20%;
    }
    .right-nav{
        width:70%;
    }
}