@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    transition: 0.3s;
    border: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.black-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: 0.3s;

}

.black-btn:hover {
    opacity: 0.8;
}

.white-btn {
    padding: 1rem 2rem;
    background-color: #E2E2E2;
    color: #000;
    font-size: 1rem;
    border-radius: 10px;
    transform: 0.3s;
}

.white-btn:hover {
    background-color: #d4d4d4;
}


/* Navigation Bar Section */
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    /* gap: 10rem; */
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    border-radius: 5rem;
    color: white;
    transition: 0.3s;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #333333;
}

/* .left-nav,
.right-nav {
    width: 40%;
} */

nav ul li button {
    padding: 10px 0.75rem;
    border-radius: 5rem;
    font-weight: bold;

}

.right-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon {
    display: none;
}

.uber {
    cursor: default;
}

.uber:hover {
    background-color: #000;
}



/* Main Img Section */
.main-img {
    background: url('./assets/main-bg-img.jpeg');
    background-size: cover;
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-img-contant {
    width: 80rem;
    max-width: 1100px;
    height: 100%;
}

.img-form {
    position: relative;
    top: 4rem;
    /* left: 4rem; */
    height: 32rem;
    width: 36rem;
    background-color: #fff;
}

.form-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #808080;
}

.form-top div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.form-top div span {
    font-size: 14px;
}

.form-top i {
    font-size: larger;
}

.form-bottom {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-bottom input {
    height: 3rem;
    width: 90%;
    margin: 0.3rem 0;
    padding: 0 1rem;
    border: none;
    border-radius: 2px;
    background-color: #f6f6f6;
}

.form-bottom h1 {
    font-size: 52px;
}

.req-btn {
    margin-right: 1rem;
}

.form-btn {
    display: flex;
}



.mobile-image {
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.mobile-image img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */

}


.business-img {
    background-image: url('./assets/HP-U4B-NYC-bkg.jpeg');
    height: 300px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bns-content{
    padding: 0.5rem 0;
    width: 95%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1.5rem;
}



.bns-content h1{
    font-size: 32px;
}


/* Container */

.safety{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

.safety-heading h1{
    text-align: start;
}

.safety-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 0 2rem;
}

.safety-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    max-width: 1100px; 
}

.safety-cards div{
    width: 100%;
}

.safety-cards img{
    width: 100%;
}

.safety-cards h3
{
    margin: 1rem 0;
}
.safety-cards p{
    margin: 2rem 0;
}

.safety-cards a{
    text-decoration: none;
    color: #333333;
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d4d4;
}

.readCom{
    margin-right: 1rem;
}

/* changes  */

.safety-link{
    position: relative;
}

.safety-link::after{
    content:'';
    width: 0;
    height: 1px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    left: 0; 
    bottom: -1px;
    opacity: 0;
    transition: 0.5s;
}

.safety-link:hover::after{
    width: 100%;
    opacity: 1;
}





/* about */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

.a-container{
    width: 80%;
    max-width: 1100px;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.a-card{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    gap: 2rem;
}

.a-card a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #808080;
    padding-bottom: 5px;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-info img{
    width: 24px;
}

.card-info h1{
    font-size: 18px;
    color: #000;
}

.card-info p{
    color: #333333;
}

/* ride  */


.ride{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

}

.r-container{
    width: 80%;
    max-width: 1100px;
}

.r-container h1{
    font-size: 36px;
}

.card-con{
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 36px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* width: 558px; */
}

.card-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* .card .fa-solid{
    text-align: end;
} */

.card img{
    width: 150px;
}

.card h2{
    font-weight: 700;
    margin-bottom: 5px;
}

.card i{
    font-size: 1.5rem;
    transition: 0.5s;
}

.card:hover i{
    transform: translateX(10px);
}

/* .r-info{
    width: 20rem;
} */


/* App  */


.app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    background-color: #f6f6f6;
}

.app-container{
    width: 80%;
    max-width: 1100px;
    padding: 64px;
}

.app-card-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 36px;
    margin-top: 50px;
}

.app-card{
    background-color: #fff;
    padding: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.app-card:hover i{
    transform: translateX(10px);
}

.app-card i{
    font-size: 1.5rem;
    transition: 0.5s;
}

.app-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.app-img-1, .app-img-2{
    width: 150px;
}

.app-img-2{
    display: none;
}

.app-info h2{
    font-size: 22px;
    margin-bottom: 5px;
}

/* sign up  */

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container{
    width: 80%;
    max-width: 1100px;
    padding: 60px;

}

.sign-card-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 36px;
    
}

.sign-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}

.sign-card:hover i{
    transform: translateX(10px);
}
.sign-card:hover{
    opacity: 0.7;
}

.sign-card h1{
    font-size: 36px;
}

.sign-card i{
    font-size: 2rem;
    transition: 0.5s;
}







@media (min-width:1024px) {
    .bns-content{
        width: 70%;
    }

    .bns-content h1{
    font-size: 36px;
    }
}

@media (max-width:1024px) {
    .option {
        display: none;
    }

    .icon {
        display: block;
    }

    .main-img-contant {
        background-color: red;

    }

    .main-img {
        height: 30rem;
    }

    .img-form {
        height: 100%;
        width: 100%;
        position: static;
    }

    .form-top {
        justify-content: start;

    }

    .form-top div {
        padding: 0 1rem;
    }

    .mobile-image {
        display: block;
    }

    .a-container{
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
        align-items: start;
        padding: 2rem;
    }
    
    .card-con{
    grid-template-columns: repeat(1,1fr);
    }

    .card img{
        width: 84px;
    }

    .app{
        background-color: #fff;
    }

    .app-container{
        padding: 32px;
    }

    .app-card{
        border: 0.5px solid #e0e0e0;
        padding: 12px;
    }

    .app-card-con{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .app-card img{
        width: 84px;
    }
    
    .app-info h2{
        font-size: 20px;
    }

    .app-info p{
        display: none;
    }

    .app-img-2{
        display: block;
    }

    .app-img-1{
        display: none;
    }

    

}



@media (max-width: 768px) {
    .form-btn {
        flex-direction: column;
        width: 100%;

    }

    .form-btn button {
        width: 100%;
        margin: 1rem 0;
    }

    .form-bottom h1 {
        font-size: 36px;

    }

    .main-img {
        height: 35rem;
    }

    .safety-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card i{
        font-size: 1rem;
    }
    .app-card i{
        font-size: 1rem;
    }

    .sign-card-con{
        display: grid;
        grid-template-columns: repeat(1, 1fr);        
    }
    
    .sign-card h1{
        font-size: 28px;
    }
    .sign-card i{
        font-size: 1.5rem;
    }

    .sign-card{
        padding-bottom: 24px;
    }

}


@media (max-width:500px) {
    .left-nav {
        width: 20%;
    }

    .right-nav {
        width: 70%;
    }

    .main-img {
        height: 35rem;
    }

    .bns-content h1{
        font-size: 28px;
    }

    .safety-cards {
        grid-template-columns: repeat(1, 1fr);
    }

}


@media (max-width: 356px) {

    .main-img {
        height: 38rem;
    }

    .bns-content h1{
        font-size: 28px;
    }
    .safety-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}